
.timePointContainer {


  .calTitle{
    height: 25px;
    line-height: 25px;
    text-align: center
  }

  .calContainer,.titleContainer {
    width: 1200px;
    span{
      width:100px;
      height:25px;
      line-height: 25px;
      float: left;
      border-right:1px solid #eee;
      border-bottom:1px solid #eee;
    }
    &:after{
      content: '';
      display: block;
      clear: both;
    }
  }

  .ui-selecting {
    background: #FECA40 !important;
  }
  .ui-selected {
    background: #F39814 !important;
    color: white;
  }
  li {
    list-style: none;
    width: 25px;
    height: 25px;
    border-right: 1px solid #dad6d6;
    border-bottom: 1px solid #dad6d6;
    text-align: center;
    line-height: 25px;
    box-sizing: border-box;
    display:block;
    float: left;
  }
  .status1 {
    background-color: #00a0e9;
  }
  .status2 {
    background-color: red;
  }
  .status3 {
    background-color: #3ab54a;
  }
}

